* {
    box-sizing: border-box;
}

body {
    font-family: Ubuntu;
    color: #fbed36;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 15px;
    margin: auto;
    padding: 12px;
    justify-items: center;
    align-items: center;
}

.success-prompt {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
}

.tile {
    background-color: black;
    width: 100%;
    border-radius: 10px;
    max-height: 120px;
}

.menu {
    margin: auto;
    width: 100%;
    border: 1px solid #ffed00;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    max-width: 500px;
    margin: auto;
    border: 5px solid grey;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    height: 97vh;
    background-color: #243443;
}

.game {
    visibility: hidden;
}

.title {
    font-size: 2em;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options_button {
    border: 1px solid #ffed00;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
}

.options_button:hover {
    background-color: #e1da75d9;
    color: #fffbfb;
}

.steps {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid;
    margin-top: 25px;
}